* {
  margin: 0;
  padding: 0;
}
button {
  padding: 7px;
}
.maindiv {
  background-color: grey;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.datadiv {
  display: flex;
  padding: 2px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
